/*
  None of these styles are being applied to the HTML.
  Can you fix that?

  Once the styles are applied,
  the park should be pale yellow box with a dashed border.
*/

*,
*::before,
*::after {
  box-sizing: border-box; font-size: 32px;
}

.park {
  margin: 16px;
  border: 2px dashed silver;
  overflow: hidden;
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
}

.animal {
  padding: 16px;
}

.animal.giraffe {text-align: center;}
.animal.dino {text-align: right;}
.animal.crocodile:hover {background-color: lightblue;}
.animal.giraffe:hover {background-color: lightgreen;}
.animal.dino:hover {background-color: lightsalmon;}
/* 
  The animals want some color! 🎨
  When the mouse hovers over an animal, change the background color.
   - The crocodile wants to be lightblue.
   - The giraffe likes lightgreen.
   - The dino is a huge fan of lightsalmon.

  💡 You'll need to use a pseudo class selector for each animal.
*/
